ctw
*.o
*.lo
*.log
Makefile
*/Makefile.in
Makefile.in
autom4te*
autom4te*/*
extras/*
*.libs
*.Plo
*.Po
*.dll
*.dylib
*.a
*.la
*.lai
*.so
*.so.*
*~
*.exe
*.deps
*.dirstamp
lt*.m4
compile
configure
config.guess
config.h
config.log
config.status
config.sub
config.*
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
aclocal.m4